name: Build and deploy Python app to Azure Web App - fast-api-kyogoku

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      # Build ONLY BE folder
      - name: Create venv and install dependencies (BE only)
        working-directory: BE
        run: |
          python -m venv antenv
          source antenv/bin/activate
          pip install -r requirements.txt

      # Upload ONLY BE folder
      - name: Upload BE artifact
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: |
            BE
            !BE/antenv/

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: python-app

      # Deploy BE to Web App
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'fast-api-kyogoku'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_CADC6849BE114E58AD1CB2C9281CB379 }}
          package: BE
