
.scrollbar-custom {
    overflow-y: scroll; /* thay vì overflow-auto */
    -webkit-overflow-scrolling: touch;
    touch-action: pan-y;
  }
  
  .scrollbar-custom::-webkit-scrollbar-button {
    display: none;
  }
  

  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #e5e3e9;
    border-radius: 4px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
  }
  