/* Luôn hiển thị scrollbar dọc */
.scrollbar-custom {
    overflow-y: scroll; /* thay vì overflow-auto */
  }
  
  /* Ẩn mũi tên trên/dưới */
  .scrollbar-custom::-webkit-scrollbar-button {
    display: none;
  }
  
  /* Scrollbar dọc */
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Thumb của scroll */
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #7D01FF;
    border-radius: 4px;
  }
  
  /* Track scrollbar */
  .scrollbar-custom::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
  }
  